@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold mb-4 text-white;
  }
  h2 {
    @apply text-2xl font-bold mb-4 text-white;
  }
  h3{
    @apply text-xl font-bold mb-3 text-white;
  }
  h4{
    @apply text-lg font-semibold mb-3 text-white;
  }
  h5{
    @apply text-base font-semibold mb-2 text-white;
  }
  h6{
    @apply text-base font-semibold mb-2 text-white;
  }
  p,span{
    @apply text-base mb-2;
  }
}

*{
  box-sizing: border-box;
  
  /* border: 1px solid red; */
}
/* h1,h2,h3,h4,h5,h6{
  color:white;
}
p,span{
  color:#d9d9d9;
} */

html {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  min-height: 100vh;
  width: 80rem;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}